@font-face {
	font-family: 'Disco';
	src: url('../assets/font/DISCO.ttf') format('truetype'); 
}

@font-face {
	font-family: 'Lazer84';
	src: url('../assets/font/lazer84/LAZER-84/Lazer84.ttf') format('truetype'); 
}
/* found from https://codepen.io/markheggan/pen/LjrVYN */
@keyframes neon {
	from {
	  text-shadow:
	  0 0 6px rgba(202,228,225,0.92),
	  0 0 30px rgba(202,228,225,0.34),
	  0 0 12px rgba(30,132,242,0.52),
	  0 0 21px rgba(30,132,242,0.92),
	  0 0 34px rgba(30,132,242,0.78),
	  0 0 54px rgba(30,132,242,0.92);
	}
	to {
	  text-shadow:
	  0 0 6px rgba(202,228,225,0.98),
	  0 0 30px rgba(202,228,225,0.42),
	  0 0 12px rgba(30,132,242,0.58),
	  0 0 22px rgba(30,132,242,0.84),
	  0 0 38px rgba(30,132,242,0.88),
	  0 0 60px rgba(30,132,242,1);
	}
  }

  @keyframes neon-border {
	from {
	  box-shadow:
	  0 0 6px rgba(202,228,225,0.92),
	  0 0 30px rgba(202,228,225,0.34),
	  0 0 12px rgba(30,132,242,0.52),
	  0 0 21px rgba(30,132,242,0.92),
	  0 0 34px rgba(30,132,242,0.78),
	  0 0 54px rgba(30,132,242,0.92);
	}
	to {
	  box-shadow:
	  0 0 6px rgba(202,228,225,0.98),
	  0 0 30px rgba(202,228,225,0.42),
	  0 0 12px rgba(30,132,242,0.58),
	  0 0 22px rgba(30,132,242,0.84),
	  0 0 38px rgba(30,132,242,0.88),
	  0 0 60px rgba(30,132,242,1);
	}
  }

  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  

#world {
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#241734, #2e2157);
}

#aiming {
	z-index: 22;
	position: absolute;
	float:left;
	border-style: solid;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	cursor: none;
	animation: neon-border .15s ease-in-out infinite alternate;
	border-color: white;
	color: #1e84f2eb;
	font-weight: bolder;
	font-size: 400%;
	animation: glowing 20s linear infinite;
	opacity:1;
	border-radius: 10px;
	background: transparent;
	filter: blur(0.5px);
	user-select: none;

}

#aiming:active{
	
		transform: rotate(45deg) ;
		-webkit-transform: rotate(45deg) ;
		-ms-transform: rotate(45deg);
		transition-duration: 0.1s;
		filter: blur(1.5px);


}

#title {
	z-index:20;
	position: fixed;
	white-space: nowrap;	
	letter-spacing: 20%;
	top: 30%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	font-family: 'Lazer84';
	font-weight: 1800;
	font-size: 800%;
	color: white;
    text-transform: as;
    transition-duration: 1s;
	-webkit-background-clip: text;
	animation: neon .15s ease-in-out infinite alternate;

}

#loading {
	z-index:20;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	font-family: 'Disco';
	font-weight: 1800;
	font-size: 300%;
	color: white;
}

#starter {
	z-index:20;
	position: fixed;
	top: 40%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	font-family: 'Disco';
	font-weight: 1800;
	font-size: 300%;
	color: white;
	animation: blinker 1s linear infinite;
}

#speedo {
	bottom: 200px;
	left: 300px;
	transform: skew(-5deg, -10deg);
	width: 200px;
	z-index:20;
	font-weight: 1800;
	font-size: 1000%;
	position: fixed;
	font-family: 'Disco';
	color: white;
	animation: neon .15s ease-in-out infinite alternate;
}

#music {
	bottom: 150px;
	right: 100px;
	width: 300px;
	z-index:20;
	font-weight: 1800;
	font-size:100%;
	position: fixed;
	font-family: 'Disco';
	color: white;
	text-transform: uppercase;
	text-align: justify;
}



.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
  }
  .hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
  }
  .hidden-slow {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 6s, opacity 6s linear;
  }
  .visible > div,
  .hidden > div {
	/* Put any padding, border, min-height, etc. here. */
  }
  .hidden > div {
	margin-top: -10000px;
	transition: margin-top 0s 2s;
  }